NEXT_PUBLIC_NETWORK=devnet
NEXT_PUBLIC_SPOX_REGISTRY_CONTRACT=ST2SBXRBJJTH7GV5J93HJ62W2NRRQ46XYBK92Y039.registry
NEXT_PUBLIC_SBTC_REGISTRY_CONTRACT=SN3R84XZYA63QS28932XQF3G1J8R9PC3W76P9CSQS.sbtc-registry
NEXT_PUBLIC_DEFAULT_MAX_FEE=80000
NEXT_PUBLIC_DEFAULT_LOCK_TIME=144
